# Logs
SPA/logs
SPA/*.log
SPA/npm-debug.log*
SPA/yarn-debug.log*
SPA/yarn-error.log*
SPA/pnpm-debug.log*
SPA/lerna-debug.log*

SPA/node_modules
SPA/dist
SPA/dist-ssr
SPA/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
