.container {
    display: flex;
    place-content: center center;
    place-items: center center;
    height: 99vh;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
    line-height: 2rem;
    padding-bottom: 1rem;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 6rem;
    margin-bottom: 2rem;
}

.entry {
    display: flex;
    flex-direction: column;
    place-content: center center;
    place-items: center center;
}

.icon-entry {
    width: 1.5rem;
    height: 1.5rem;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.8px;
    fill: currentColor;
    vertical-align: -0.25rem;
}

@media screen and (max-width: 768px) {
    .container {
        height: calc(99vh - 60px);
    }
    .section {
        padding: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .section {
        padding: 4rem 2rem;
    }
}