.container {
    display: flex;
    place-content: center center;
    place-items: center center;
    height: 99vh;
}

.card {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1.5px solid var(--accent-color);
    border-radius: 0.8rem;
}

.card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.section {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 6rem;
    margin-bottom: 2rem;
}

.entry {
    display: flex;
    flex-direction: column;
    place-content: center center;
    place-items: center center;
}

.icon-entry {
    width: 1.5rem;
    height: 1.5rem;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.8px;
    fill: currentColor;
    vertical-align: -0.25rem;
}

@media screen and (max-width: 768px) {
    .container {
        height: calc(99vh - 60px);
    }
    .section {
        padding: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .section {
        padding: 4rem 2rem;
    }
}