/* External css used by components
 * Navbar, Sidebar, Alerts, and Modal
*/

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0;
  min-height: 99.91vh;
  max-height: 99.91vh;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .sidebar {
        left: -99.9vw;
        width: 99.9vw;
        min-height: 99.9vh;
        overflow: hidden;
        position: fixed;
        z-index: 3;
        padding: 0;
        transition: left 0.3s ease-out;
    }
    .sidebar.show {
        left: 0px;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {

}