* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff*/
  --primary-color: #ffffff;
  --secondary-color: #14213d;
  --active-color: #fca311;
  --accent-color: #e5e5e5;
  --text-color: #000000;
  --success-color: #077d0b;
  --error-color: #ff4d00;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--accent-color);
  color: var(--text-color);
  min-height: 99.9vh;
}

#main {
  display: flex;
  flex-direction: row;
  margin: 0;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
      min-height: 100vh;
  }
  #main {
      display: flex;
      flex-direction: column;
      flex: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--primary-color);
  }
}
