.container {
  padding: 0.5rem 2.5rem 0 2.5rem;
  margin-bottom: 2rem;
}

.title {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.dashboard-cards, .dashboard-charts {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.4rem;
  justify-content: space-between;
  align-items: center;
}

.dashboard-card {
  flex: 0 1 30%; 
  height: 6rem;
  display: flex;
  flex-direction: column;
  place-content: center center;
  place-items: center center;   
}
.dashboard-card h1 {
  display: flex;
  place-content: center center;
}
.dashboard-card h1, .dashboard-card label {
  margin: 0;
  padding: 0;
}

.dashboard-charts {
  flex-wrap: nowrap !important;
}
.dashboard-chart {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-content: center center;
  place-items: center center;
}
.dashboard-chart-line {
  flex: 0 1 64%;
}

.dashboard-chart-pie {
  flex: 0 1 29%;
}


.card {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 0.8rem;
}
.card:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

/* animation */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner span {
  opacity: 0;
  border-radius: 100%;
}
.chart-spinner {
  width: 5rem;
  height: 5rem;
  gap: 0.5rem;
}
.chart-spinner span {
  width: 1rem;
  height: 1rem;
  background-color: var(--secondary-color);
}
.chart-spinner span:nth-child(1) {
  animation: fadeSpinner 1s ease-in-out infinite;
}
.chart-spinner span:nth-child(2) {
  animation: fadeSpinner 1s ease-in-out 0.25s infinite;
}
.chart-spinner span:nth-child(3) {
  animation: fadeSpinner 1s ease-in-out 0.50s infinite;
}
.chart-spinner span:nth-child(4) {
  animation: fadeSpinner 1s ease-in-out 0.75s infinite;
}
@keyframes fadeSpinner {
  0%, 100% {
   opacity: 1;
  }
 
  60% {
   opacity: 0;
  }
}
@-webkit-keyframes fadeSpinner {
  0%, 100% {
   opacity: 1;
  }
 
  60% {
   opacity: 0;
  }
}
/* /animation */

@media screen and (max-width: 1024px) {
  .dashboard-charts {
    flex-wrap: wrap !important;
    gap: 2rem 0;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
  .dashboard-chart {
    flex: 0 1 90%;      
  }
}

@media screen and (max-width: 768px) {
  .dashboard-cards {
      gap: 2rem 0;
      justify-content: center;
      align-items: center;
      width: 100% !important;
  }
  .dashboard-card {
      flex: 0 1 88%;    
  }
}