.btn-form {
    width: 100%;
    margin: 1rem auto 0 auto;
    padding: 0.6rem 0.6rem;
    font-size: 1.3rem;
}
.btn-form-flex {
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
}
.btn-form-border {
    border-radius: 0.8rem;
}

.btn-submit {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.btn-submit:hover {
    /* background-color: var(--active-color);
    border: 1px solid var(--active-color); */
    cursor: pointer;
}
.btn-submit:disabled {
    opacity: 0.6;
}
.btn-submit:disabled:hover {
    cursor: progress;
}

.btn-cancel {
    background-color: var(--error-color);
    color: var(--primary-color);
    border: 1px solid var(--error-color);
}
.btn-cancel:hover {
    opacity: 0.75;
    cursor: pointer;
}

.btn-action {
    padding: 0.45rem 1.5rem 0.45rem 1rem;
    border-radius: 0.8rem;
    font-size: 1.3rem;
}
.btn-action:hover {
    cursor: pointer;
}
.btn-action.disabled, .btn-action.disabled:hover {
    opacity: 0.6 !important;
    cursor: progress !important;
}
.btn-action-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}
.btn-action-primary.active, .btn-action-primary:hover {
    background-color: var(--active-color);
    border: 1px solid var(--active-color);
    color: var(--primary-color);
}

.btn-action-primary.active * svg, 
.btn-action-primary:hover * svg {
    fill: var(--primary-color);
}

.btn-action-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
.btn-action-secondary.active, .btn-action-secondary:hover {
    background-color: var(--active-color);
    border: 1px solid var(--active-color);
    color: var(--primary-color);
}

.icon-action {
    width: 1.6rem;
    height: 1.6rem;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.9px;
    fill: none;
    vertical-align: -0.15rem;
}

.icon-action-fill {
    fill: currentColor !important;
    stroke-width: 0.6px !important;
}
.icon-action-fill:hover {
    fill: currentColor !important;
}

.btn-comment {
    margin: 0.6rem 0;
    padding: 0.7rem 0.8rem;
    font-size: 1.3rem;
}
.btn-comment-border {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.icon-comment {
    width: 1rem;
    height: 1rem;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.8px;
    fill: none;
    vertical-align: bottom;
}