.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.filter-item {
    flex-grow: 0;
}
.filter-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-content: center center;
    place-items: center center;
    column-gap: 1rem;
}

.input-search {
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.8rem;
    width: initial;
    font-size: 1rem;
    padding: 0.5rem 0;
    background: var(--primary-color) url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-0.5 -0.5 16.8 16.8'%3E%3Cpath fill='grey' stroke='grey' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E") no-repeat 9px 9px;
    background-size: 14px 14px;
    text-indent: 1.8rem;
    -webkit-appearance: none;
    outline: none;
}

.icon-filter {
    width: 1.5rem;
    height: 1.5rem;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.9px;
    fill: none;
    vertical-align: -0.25rem;
}
.icon-filter-fill {
    fill: currentColor !important;
    stroke-width: 0.6px !important;
}
.icon-filter-fill:hover {
    fill: currentColor !important;
}

.d-none {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .filter-actions {
        width: 100%;
        flex-direction: row;
        place-content: center center;
        place-items: center center;
        padding-top: 1rem;
        gap: 1rem 1.5rem;   
    }
}

@media screen and (max-width: 768px) {
    .filter {
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center; 
    }
    .filter-item {
        flex: 1 0 0%;
    }
    .filter-actions app-button {
        flex: 0 1 0%;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .filter {
        row-gap: 1rem;
        justify-content: center;
        align-items: center; 
    }
    .filter-item {
        flex: 1 0 90%;
    }
    .filter-actions {
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;   
    }
    .filter-actions app-button {
        flex: 1 0 95%;
        text-align: center;
    }
}